# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
.npm/

# Java / Maven
target/
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# OS-specific
.DS_Store
Thumbs.db
